In [1]:
## 1.Write a Python Program to accept the details of a student like name, roll number
##   and mark and display it.

In [38]:
Name = input('Enter the name:')
RN =int(input('Enter the roll number:'))
M=int(input('Enter the mark:'))
print('Name:',Name)
print('Roll Number:',RN)
print('Mark:',M)

Enter the name:Geethu G Nath
Enter the roll number:37
Enter the mark:89
Name: Geethu G Nath
Roll Number: 37
Mark: 89

In [3]:
## 2.Write a Python program to convert temperatures to and from Celsius
##   Fahrenheit.

In [4]:
F=float(input('Enter the temperature in faranheit'))
Celsius=(F-32)*5/9
print('Temperature in Celsius=',Celsius)
C=float(input('Enter the temperature in celsius'))
Faranheit=(9*C/5)+32
print('Temperature in Faranheit=',Faranheit)

Enter the temperature in faranheit98.6
Temperature in Celsius= 37.0
Enter the temperature in celsius37
Temperature in Faranheit= 98.6

In [7]:
## 3.Write a Python program to accept two numbers from the user and display
##   its product.

In [8]:
a=int(input('Enter the first number'))
b=int(input('Enter the second number'))
result= a*b
print('The product is',result)

Enter the first number25
Enter the second number4
The product is 100

In [9]:
## 4.Write a Python program to accept a string “Learn Python by Developing a
## Website” and display the string like “Learn**Python** by Developing a
## **Website**”

In [34]:
s1=input('Enter the string:')
s2=s1[0:6]+'**'+s1[6:13]+'**'+s1[13:29]+'**'+s1[29:36]+'**'+s1[36:]
print(s2)

Enter the string:Learn Python by Developing a Website
Learn **Python **by Developing a **Website**

In [11]:
## 5.Write a Python program to accept the radius of a circle and display its area

In [12]:
import math

r=int(input('enter the radius of circle'))
print('area= ',math.pi*r*r,'sqcm')

enter the radius of circle10
area=  314.1592653589793 sqcm

In [13]:
## 6.. Python program to insert a number to any position in a list (Get the number to
##     be inserted and position from the user)

In [14]:
L=[22,55,16,67,98]
x=int(input ('enter the number to be inserted in the list ='))
y=int(input('enter the position to which number is inserted ='))
L.insert(y,x)
L

enter the number to be inserted in the list =37
enter the position to which number is inserted =3

[22, 55, 16, 37, 67, 98]

In [15]:
##7.Write a program to rename a key city to a location in the following dictionary.
##  sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [35]:
D={"Name": "John", "age":5, "salary": 8000, "city": "New York"}
D['Location']=D.pop("city")
print(D)

{'Name': 'John', 'age': 5, 'salary': 8000, 'Location': 'New York'}

In [36]:
## 8.Write a Python program to change Brad’s salary to 8500 in the following
##   dictionary.
##   sample_dict = {
##   'emp1': {'name': 'John', 'salary': 7500},
##   'emp2': {'name': 'Emma', 'salary': 8000},
##   'emp3': {'name': 'Brad', 'salary': 500}
##    }

In [18]:
dict1 = {'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
dict1['emp3']['salary']=8500
print(dict1)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [19]:
## 9.Write a program to copy elements 43 and 54 from the following tuple into a
##   new tuple. Given:
##   tuple1 = (10, 20, 43, 54, 56, 68)

In [20]:
tuple1 = (10,20,43,54,56,68)
tuple2 =(tuple1[2:4])
tuple2

(43, 54)

In [21]:
##10.Counts the number of occurrences of item 50 from a tuple
##   tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [22]:
t1=(50,10,60,70,50,83,567,50,81)
t1.count(50)

3